<!-- Footer -->
<footer class="text-center text-lg-start footer text-muted">
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="w-100">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mb-4">
                    <!-- Content -->
                    <!-- <h6 class="text-uppercase fw-bold mb-4"> -->
                    <!-- <i class="fas fa-gem me-3"></i>Company name -->
                    <div class="footer-main-logo mt-2 light-svg" inlineSVG="/assets/icons/header-logo.svg"
                        [cacheSVG]="true"></div>
                    <!-- </h6> -->

                    <!-- <p class="mt-4">
            Visit our sister properties:
          </p>
          <p class="mt-1">
            Quality Inn and Suites Lehigh Acres Fort Myers, FL Clarion Inn and Suites by Universal Orlando
          </p> -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 ">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a routerLink="/hotel-management-services" class="text-reset text-decoration-none">Services</a>
                    </p>
                    <p>
                        <a routerLink="/our-portfolio" class="text-reset text-decoration-none">Portfolio</a>
                    </p>
                    <p>
                        <a routerLink="/blogs" class="text-reset text-decoration-none">Blog</a>
                    </p>
                    <p>
                        <a routerLink="/about-us" class="text-reset text-decoration-none">About</a>
                    </p>
                    <p>
                        <a routerLink="/our-team" class="text-reset text-decoration-none">Team</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4 ">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>

                    <div>
                        <p class="content">
                            <span class="mr-1" inlineSVG="/assets/icons/location-pin.svg" [cacheSVG]="true"></span> 5829
                            Grand National Drive Orlando, Florida 32819
                        </p>
                    </div>

                    <div>
                        <span class="mr-1" inlineSVG="/assets/icons/call-icon.svg" [cacheSVG]="true"></span>
                        <a class="content" href="tel:(407) 726-2990">(407) 726-2990</a>
                    </div>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
     <div class="d-flex">

        <div class=" p-4" >
            © 2005 - {{ year }}
            <a class="text-reset text-decoration-none" routerLink="/">Stealth Management Group LLC | All Rights Reserved</a>
        </div>

        <div class="p-4" >
            <a class="text-reset text-decoration-none" routerLink="/terms-and-condition">Terms & Conditions</a> |  
            <a class="text-reset text-decoration-none" routerLink="/privacy-policy">Privacy Policy</a>
        </div>
</div>


    <!-- Copyright -->
</footer>
<!-- Footer -->