<div class="about-container">
    <div class="about-banner">
      <div class="about-banner-description">
        <!-- <div>
          <h1 class="about-banner-description-title">About Us</h1>
        </div> -->
        <div>
          <h1 class="portfolio-banner-description-title">Stealth Management Group</h1>
        </div>
      </div>
    </div>
  
    <div class="about-banner-card container-qxl">
      <div class="about-banner-card-content">
        <div class="about-banner-card-content-headline">
          <h3>Creating value for our "family" through owning and operating premium branded hotels and businesses</h3>
        </div>
        <p>
          Stealth Management Group was created by Anshu K. Jain. His experience in hotel management brings 15-plus years
          of industry expertise together for a winning team with proven results. With a passion for renovating and
          boosting profitability, we integrate innovative sales programs with their unique hands-on approach to create an
          experience unlike any other.
        </p>
        <p>
          Our portfolio of premier branded hotels across Florida, Tennessee, and Utah comprises hotels and restaurants in
          the full-service and select service segments. With an unsurpassed level of energy and dedication, our associates
          have extensive experience in all disciplines of hospitality management. This distinguishes us as the industry
          leader in hotel operations, design, and revenue management.
        </p>
        <p>
          Managing Perfectionism in Hospitality - Our more than 17 years of perfection are found in our pillars of
          management. At Stealth Management Group LLC, we concentrate on conservative growth and have core values -
          leadership, innovation, teamwork, communication, culture, and customer obsession. You can understand that these
          values are the basis for our employees and allow us to transform our organization in an Agile and flexible
          manner. Similarly, we are more focused on speedy delivery and keeping your business ahead of your competitors.
          Moreover, we are leading business leaders and managers with a proven track record of success in meeting your
          unique needs and company’s expectations.
        </p>
      </div>
  
      <img class="about-banner-card-image" defaultImage="https://placeholder.pics/svg//DEDEDE/555555/%20"
        lazyLoad="/assets/images/About-us-page.webp" alt="Discussion Image">
    </div>
  
    <div class="about-detail">
      <div class="container">
        <div class="row">  <div class="col-md-6">
          <div class="about-detail-image-container">
            <img defaultImage="https://placeholder.pics/svg//DEDEDE/555555/%20"
              lazyLoad="/assets/images/about-us-experience.png" alt="About Us Experience" class="about-detail-image">
          </div>
        </div>
          <div class="col-md-6"><div class="about-detail-content">
            <!-- <span class="top-waves" inlineSVG="/assets/icons/portfolio-waves.svg" [cacheSVG]="true"></span>
            <span class="bottom-waves" inlineSVG="/assets/icons/portfolio-waves.svg" [cacheSVG]="true"></span> -->
      
            <div class="about-detail-headline">
              <h1 class="home-banner-card-heading">OUR APPROACH</h1>
              <span class="dark-underline"></span>
            </div>
      
      
            <p>
              We take a different approach to each property and overview the opportunities and needs for growth on the basis
              of locations, services, size, and budget. We implement real personalized strategies with the aim of the
              continued growth within the market.
      
            </p>
      
            <p>
              From managing major hotel brands to launching new restaurants, Stealth Management Group continues to be guided
              by our values of fairness, thoughtfulness, and reliability. Today, 15 years after our founding, we continue to
              nurture a sustainable portfolio, which is only possible by cultivating business and partner relationships with
              the long-term and
              flexible view in mind.
            </p>
          </div></div>
        
        </div>
      </div>
      
  
     
    </div>
  </div>