<div class="contact-container">
    <div class="contact-banner">
      <div class="contact-banner-description">
        <div>
          <h1 class="contact-banner-description-title">Contact Us</h1>
        </div>
      </div>
    </div>
  
    <div class="contact-banner-card container-qxl">
      <div class="contact-banner-card-detail">
        <div class="contact-banner-card-detail-title">Have any queries? Contact us for any Information.</div>
        <div class="contact-banner-card-detail-address">
          <div inlineSVG="/assets/icons/location-pin.svg" [cacheSVG]="true"></div>
          <span class="">5829 Grand National Drive Orlando, Florida 32819</span>
        </div>
        <div class="contact-banner-card-detail-phone">
          Contact Here:
        </div>
        <div class="tel-outer">
          <div *ngFor="let elem of contacts" class="tel d-flex justify-content-between flex-wrap">
            <p>{{elem?.title}}</p>
            <a href="tel: {{elem?.description | formatNumber}}" class="phone-no">
              {{elem?.description | formatNumber}}
            </a>
          </div>
  
        </div>
        <div class="contact-banner-card-detail-email">
          Email Address: <a class="highlight" href="mailto:support@stealthmanage.com">{{'support@stealthmanage.com'}}</a>
        </div>
        <div class="contact-banner-card-detail-follow-us">
          Follow Us On:
        </div>
        <div class="contact-banner-card-detail-follow-icons">
          <a style="align-self: center; display: flex;" inlineSVG="/assets/icons/facebook.svg"
            href="https://www.facebook.com/Stealth-Management-Group-104267932219803" [cacheSVG]="true"></a>
          <a inlineSVG="/assets/icons/instagram.svg" href="https://www.instagram.com/stealthmanagement"
            [cacheSVG]="true"></a>
        </div>
      </div>
  
      <form #form_contact_us="ngForm" class="w-100" [formGroup]="contactForm" (ngSubmit)="submitForm()">
        <div class="contact-banner-card-form">
          <ng-container formGroupName="name">
            <input formControlName="firstName" type="text" class="form-control" placeholder="Company *"
              aria-label="Company" aria-describedby="company-name">
            <input formControlName="lastName" type="text" class="form-control" placeholder="Your Name *"
              aria-label="Your Name" aria-describedby="User Full name">
          </ng-container>
  
          <ng-container formGroupName="contact">
            <input formControlName="email" type="email" class="form-control" placeholder="Email Address *"
              aria-label="Email Address" aria-describedby="email-address">
          </ng-container>
  
          <textarea formControlName="message" type="text" class="form-control" placeholder="Your Message *"
            aria-label="Message" aria-describedby="message"></textarea>
          <button type="submit" class="button-round">SUBMIT</button>
        </div>
      </form>
    </div>
  
    <div class="container">
      <div class="row">
  
        <div class="col-12 description-title">
          FAQs
        </div>
  
        <div class="col-12 mt-3 mb-5">
          <div class="accordion accordion-flush">
  
            <div *ngFor="let elem of faq; let i = index" class="accordion-item">
              <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#a' + i" aria-expanded="false">
                <div class="width-100">
                  <h2 class="faq-h2">{{elem?.question}} </h2>
                </div>
              </div>
              <div [id]="'a' + i" class="accordion-collapse collapse">
                <div class="accordion-body">{{elem?.ans}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="contact-map" *ngIf="apiLoaded$ | async">
      <google-map width="100%" [center]="center" [zoom]="zoom">
        <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition" [options]="markerOptions">
        </map-marker>
      </google-map>
    </div>
  </div>