.contact {
    &-container {
      @apply bg-white;
    }
  
    &-banner {
      @apply relative;
      height: 343px;
      background-image: url("/assets/images/contact_us.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      object-position: center;
      object-fit: cover;
      background-position: center;
      &-description {
        @apply absolute text-white w-full h-full text-center flex flex-col justify-center content-center items-center;
        background: rgba(0, 0, 0, 0.3);
  
        &-title {
          font-size: 35px;
          padding: 0px 1rem;
        }
  
        &-sub_title {
          font-weight: 700;
          font-size: 22px;
          line-height: 34px;
        }
      }
  
      &-card {
        @apply p-[15px] mx-[15px] bg-white top-[-90px] flex flex-col relative;
        box-shadow: 0 4px 110px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
  
        &-form {
          @apply flex flex-col justify-center items-center content-center gap-3.5 pt-3;
  
          input,
          textarea {
            background: #FCFCFC;
            border: 1px solid #E1E1E1;
          }
  
          textarea {
            height: 120px;
          }
        }
  
        &-detail {
          @apply flex flex-col text-center;
  
          &-title {
            @apply mb-4;
            font-weight: 700;
            font-size: 22px;
            line-height: 34px;
            color: #192A56;
          }
  
          &-address {
            @apply flex flex-row gap-x-2.5 mb-3 justify-center items-start content-start;
  
            div[inlinesvg] {
              ::ng-deep svg path {
                fill: #192A56;
              }
            }
          }
  
          &-phone {
            @apply mb-4 cursor-pointer;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #192A56;
          }
  
          &-email {
            @apply my-4;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #424242;
  
            .highlight {
              @apply cursor-pointer;
              font-weight: 700;
              font-size: 16px;
              line-height: 28px;
              color: #192A56;
              margin-bottom: 30px;
            }
          }
  
          &-follow-us {
            @apply mb-4;
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            color: #424242;
          }
  
          &-follow-icons {
            @apply flex flex-row justify-center gap-x-3.5 mb-3;
          }
        }
      }
    }
  
    &-map {
      border: #757575 10px solid;
    }
  }
  
  @screen md {
    .contact {
      &-container {}
  
      &-banner {
        height: 543px;
        background-image: url("/assets/images/contact_us.jpg");
  
        &:after {
          @apply absolute bottom-0 left-0 right-0;
          content: ' ';
          height: 100px;
          background: linear-gradient(180deg, #141414 0%, rgba(30, 30, 30, 0.278407) 69.85%, rgba(23, 23, 23, 0) 85.8%);
          transform: matrix(1, 0, 0, -1, 0, 0);
        }
  
        &-description {
          &-title {
            font-size: 48px;
            line-height: 70px;
          }
  
          &-sub_title {
            font-size: 48px;
            line-height: 70px;
          }
        }
  
        &-card {
          @apply p-8 mx-10;
  
          &-form {
            @apply flex flex-col justify-center items-center content-center gap-5 pt-8;
          }
  
          &-detail {
            @apply text-left;
  
            &-title {
              @apply mb-4;
              font-weight: 700;
              font-size: 22px;
              line-height: 34px;
              color: #192A56;
            }
  
            &-address {
              @apply justify-start;
  
              div[inlinesvg] {
                ::ng-deep svg path {}
              }
            }
  
            &-phone {}
  
            &-email {
              .highlight {}
            }
  
            &-follow-us {}
  
            &-follow-icons {
              @apply justify-start mb-8;
            }
          }
        }
      }
  
      &-map {}
    }
  }
  
  @screen lg {
    .contact {
      &-container {}
  
      &-banner {
        height: 543px;
        background-image: url("/assets/images/contact_us.jpg");
  
        &:after {
          height: 133px;
        }
  
        &-description {
          &-title {
            font-size: 48px;
            line-height: 70px;
          }
  
          &-sub_title {
            font-size: 48px;
            line-height: 70px;
          }
        }
  
        &-card {
          @apply p-10 mx-[80px] top-[-110px] flex-row gap-x-10;
  
          &-form {
            @apply border-0 gap-4 order-1 basis-6/12 pt-0;
  
            textarea {
              height: 140px;
            }
          }
  
          &-detail {
            @apply text-left order-2 basis-6/12;
  
            &-title {
              @apply mb-7;
              font-weight: 700;
              font-size: 32px;
              line-height: 40px;
            }
  
            &-address {
              div[inlinesvg] {
                ::ng-deep svg path {}
              }
            }
  
            &-phone {}
  
            &-email {
              .highlight {}
            }
  
            &-follow-us {}
  
            &-follow-icons {
              @apply justify-start mb-8;
            }
          }
        }
      }
  
      &-map {
        border-width: 20px;
      }
    }
  }
  
  @screen xl {
    .contact {
      &-container {}
  
      &-banner {
  
        &-description {
          &-title {}
  
          &-sub_title {}
        }
  
        &-card {
          @apply p-20 mx-[80px] gap-x-16;
  
          &-form {
            @apply gap-7 order-1 basis-6/12;
  
            textarea {
              height: 160px;
            }
          }
  
          &-detail {
            @apply order-2 basis-6/12;
  
            &-title {}
  
            &-address {
              div[inlinesvg] {
                ::ng-deep svg path {}
              }
            }
  
            &-phone {}
  
            &-email {
              .highlight {}
            }
  
            &-follow-us {}
  
            &-follow-icons {}
          }
        }
      }
  
      &-map {}
    }
  }
  
  @screen xxl {
    .contact {
      &-container {}
  
      &-banner {
  
        &-description {
          &-title {}
  
          &-sub_title {}
        }
  
        &-card {
          @apply p-20 mx-[140px] gap-x-20;
  
          &-form {
            @apply gap-7 order-1 basis-6/12;
  
            textarea {
              height: 187px;
            }
          }
  
          &-detail {
            @apply order-2 basis-6/12;
  
            &-title {}
  
            &-address {
              div[inlinesvg] {
                ::ng-deep svg path {}
              }
            }
  
            &-phone {}
  
            &-email {
              .highlight {}
            }
  
            &-follow-us {}
  
            &-follow-icons {}
          }
        }
      }
  
      &-map {}
    }
  }
  
  @screen xxxl {
    .contact {
      &-container {}
  
      &-banner {
  
        &-description {
          &-title {}
  
          &-sub_title {}
        }
  
        &-card {
          @apply p-20 mx-auto gap-x-20 w-[1440px];
  
          &-form {
            @apply gap-7 order-1 basis-6/12;
          }
  
          &-detail {
            @apply order-2 basis-6/12;
  
            &-title {}
  
            &-address {
              div[inlinesvg] {
                ::ng-deep svg path {}
              }
            }
  
            &-phone {}
  
            &-email {
              .highlight {}
            }
  
            &-follow-us {}
  
            &-follow-icons {}
          }
        }
      }
  
      &-map {}
    }
  }
  
  .faq-h2 {
    font-size: 1.5em;
  }
  
  
  .button-round {
    background: #192A56;
    border-radius: 70px;
    width: 160px;
    height: 42px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    @apply flex flex-row justify-center items-center content-center text-white;
  
    @screen md {
      height: 56px;
      width: 180px;
    }
  
    @screen lg {
      width: 234px;
      height: 58px;
    }
  }
  
  .description-title {
    font-size: 30px;
  }
  .tel p {
    margin-bottom: 0.2rem;
    font-weight: 600;
  }
  .tel .phone-no {
    color: #192a56;
    text-decoration: none;
  }
  .tel {
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: 1px dashed #e4dcdc;
  }
  .tel-outer {
    max-height: 198px;
    overflow-y: scroll;
    padding-right: 10px;
  }
  
  @media(max-width: 768px){
    .faq-h2 {
      font-size: 1em;
  }
  }
  
  @media(max-width: 576px){
    .tel-outer .tel {
      display: block !important;
    }
  }